.villagers {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 85%;
  padding: 0.5% 0;

  .mini-villager {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0.5%;
    padding: 1%;
    width: 13%;
    text-align: left;
    cursor: pointer;
    color: #333;
    &:hover {
      background-color: #ccc;
    }
    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: #333;
      text-decoration: none;
    }
    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #aaa;
      margin-right: 10%;
    }
  }
}

.tweet {
  display: flex;
  border: 1px solid #eee;
  background-color: #eee;
  border-radius: 5px;
  margin: 0 0 2% 2%;
  padding: 2%;

  .user-photo {
    margin: 0 2% 0 0;
    img {
      border-radius: 50%;
    }
  }
  .tweet-data {
    .user-name {
      span {
        font-weight: bold;
      }
    }
    .media {
      img,
      video {
        width: 100%;
        border-radius: 5px;
      }
    }
    .tweet-time {
      font-weight: bold;
    }
  }
}

.loading {
  background-color: chartreuse;
}
