.gallery {
  display: flex;
  width: 90%;
  position: relative;

  .gallery-arrow {
    position: absolute;
    z-index: 2;

    height: 100%;
    top: 40%;

    button {
      border-radius: 50%;
      border: 1px solid #333;
      background-color: #333;
      color: white;
      width: 50px;
      height: 50px;
      opacity: 0.5;
      cursor: pointer;
      font-size: 150%;
      font-weight: bold;
      font-family: "Playfair Display SC", serif;

      &:hover {
        border: 1px solid #66d2bb;
        background-color: #66d2bb;
        opacity: 1;
      }
    }

    &.dis {
      visibility: hidden;
    }
    &.left {
      left: -15px;
    }
    &.right {
      right: -15px;
    }
  }

  .gallery-wrapper {
    position: relative;
    .media {
      width: 100%;
      flex: 1;
      position: relative;
      &.hid {
        position: absolute;
        visibility: hidden;
      }
      img,
      video {
        width: 100%;
        border-radius: 5px;
      }
    }
  }
}
