.footer {
  width: 100%;
  background-color: #ddd;
  position: fixed;
  bottom: 0;
  margin: 0;
  z-index: 3;
  padding: 1%;
  text-align: center;
  border-radius: 5px;

  .about {
    display: block;
    font-size: 15px;
    padding: 0.5%;
  }
}
