.search {
  top: 120px;
  width: 85%;
  position: relative;
  text-align: center;
  background-color: #e04a84;
  padding: 4%;
  border-radius: 5px;
  label {
    display: block;
    padding-bottom: 1%;
    font-size: 110%;
  }
  input {
    border-radius: 10px;
    border: 3px #ccc solid;
    padding: 1%;
  }
  button {
    position: absolute;
    right: 40%;
    top: 53%;
    border: none;
    height: 15%;
    width: 2%;
    border-radius: 100%;
    outline: none;
    text-align: center;
    font-weight: bold;
    padding: 2px;
    cursor: pointer;
    .visible {
      visibility: visible;
    }
    .invisible {
      visibility: hidden;
    }
  }
}

@media (min-width: 850px) {
  .search {
    padding: 2%;
  }
}

@media (min-width: 550px) {
  .search {
    padding: 3%;
  }
}
