.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  h2 {
    top: 100px;
    position: relative;
    &.about {
      top: 0;
    }
  }
  .loading {
    background-color: yellowgreen;
    width: 100%;
  }
  .villager-content {
    display: block;
    width: 95%;
  }
}

@media (min-width: 550px) {
  .wrapper {
    .villager-content {
      display: flex;
    }
  }
}
@media (min-width: 850px) {
  .wrapper {
    .villager-content {
      display: flex;
    }
  }
}
